.prizerote{
    box-sizing: border-box;
    width:338px;
    height:338px;
    padding:27px;
    background:url('../../public/luckdraw/prizeframe.png') 0 0 no-repeat;
    background-size:100% 100%;
    position: relative;
    .prizerote-bg{
      position: absolute;
      left:27px;
      top:27px;
      height:284px;
      width:284px;
      // margin:10px;
      background:url('../../public/luckdraw/prizerote.png') 0 0 no-repeat;
      background-size:100% 100%;
      animation: spin 1s linear infinite;
    }
    .prizeavatar{
      height: 264px;
      width:264px;
      position: absolute;
      left:37px;
      top:37px;
      border-radius: 50%;
      overflow: hidden;
       &>img{
        width: 100%;
        height:100%;
       }
    }
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}