
.aaa {
  margin-top: 40px;
    .ant-tag {
      height: 34px;
      font-size: 20px;
      background-color: darksalmon;
      margin-left: 10px;
      margin-top: 5px;
  }
}

.bbb {
    .ant-tag {
      height: 25px;
      font-size: 16px;
      background-color: cornsilk;
      margin-left: 5px;
      margin-top: 5px;
  }
}

.ccc {
  float: right;
}

.ddd {
  margin-left: 100px;
}