.checkinPage{
  height: 100%;
  background:url('../../public/checkin/checkinbg.png') 0 0 no-repeat;
  background-size:100% 120%;
  .logo{
    height:5.8%;
    &>img{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
  .xj{
    height:19.704%;
    &>img{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
  .triangle{
    height:1.478%;
    &>img{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
  .checkin{
    height:5.91%;
    overflow: hidden;
    .checkinbtn{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
    .smline{
      height:2.1%;
      animation-timing-function:linear;
      animation: linemove 2s infinite;
      position: relative;
      // z-index: -1;
      &>img{
        display: block;
        // height:2.1%;
        height:100%;
        margin:0 auto;
      }
      // display: block;
      // margin:0 auto;
      // height:2.04%;
      // animation: linemove 2s infinite;
    }
  }
  .gxline{
    height:4.92%;
    &>img{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }

}
@keyframes linemove
{
  0% {top:0}
  50% {top:-100%}
  100% {top:0}
}
// @keyframes linemove
// {
//   0% {transform: translateY(0)}
//   50% {transform: translateY(-100%)}
//   100% {transform: translateY(0)}
// }
