.checkinPage{
  font-size:16px;
  .lookback{
    width:80%;
    margin:0 auto;
    color:#efca9f;
  }
  .form{
    height:24.63%;
    width:80%;
    margin:  0 auto;
    color:#efca9f; 
    h3{
       margin:0;
       font-size:13px;
     }
     .formname,.formphone{
       overflow: hidden;
       label{
         float: left;
       }
       .forminput{
         float: left;
         border-bottom:1px solid #efca9f; 
         &>input{
           border:none;
           background-color: transparent;
         }
       }
     }
  }
  .submit{
    height:5.91%;
    .submitbtn{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
}