.checkinPage{
  .lookback{
    height:7.7%;
    margin:0 auto;
    color:#efca9f;
    .first{
      width:0;
      height:33.3%;
      overflow: hidden;
      &>img{
        display: block;
        height:67.2%;
      }
    }
    .second{
      width:0;
      height:33.3%;
      overflow: hidden;
      &>img{
        display: block;
        height: 67.2%;
      }
    }
    .three{
      height:33.3%;
      width:0;
      overflow: hidden;
      &>img{
        display: block;
        height: 67.2%;
      }
    }
  }
  .form{
    height:24.63%;
    margin:0 auto;
    .formcontainer{
      height:100%;
      width:100%;
      position: relative;
      &>img{
        display: block;
        width:100%;
      }
      .formname{
        position:absolute;
        font-size:5px;
        left:34%;
        top:45%;
        width:53.3%;
        height:5.75%;
        color:#ffffff;
        border:none;
        padding:0;
        outline: none;
        background-color: transparent;
      }
      .formphone{
        position:absolute;
        left:34%;
        // top:68.5%;
        bottom:26.5%;
        width:53.3%;
        height:5.75%;
        color:#ffffff;
        padding:0;
        border:none;
        outline: none;
        background-color: transparent;
      }
    }
    h3{
       width:80%; 
       font-size:.09rem;
     }
  }
  .submit{
    height:5.91%;
    .submitbtn{
      margin: 0 auto;
      display: block;
      height: 100%;
    }
    .smline{
      height:2.1%;
      animation-timing-function:linear;
      animation: linemove 2s infinite;
      position: relative;
      &>img{
        display: block;
        height:100%;
        margin:0 auto;
      }
    }
  }
}