.loadingPage{
  position: absolute;
  top:40%;
  width:100%;
  .loading-img{
    width:12.26%;
    padding-top:16%;
    height: 0;
    margin:0 auto;
    background-image: url('../../public/checkin/loading.png');
    background-repeat: no-repeat;
    background-size:100% auto;
  }
  &>.text{
    font-size:14px;
    color:#efca9f;
    text-align: center;

  }
}