.supplePage{
  position: fixed;
  box-sizing: border-box;
  width:100%;
  top:0;
  bottom:0;
  padding:0 .09rem;
  .search{
    width:100%;
    height:.3rem;
    border:1px solid #c0c0c0;
    margin:0 auto;
    margin-top:.05rem;
    margin-bottom:.3rem;
    &>input{
      width:100%;
      height: 100%;
      font-size:.15rem;
      text-align: center;
    }

  }
  .listtitle{
    font-size:.16rem;
    margin-bottom: .2rem;
  }
  .listname{
    width:100%;
    font-size:.13rem;
    .items{
      height:.4rem;
      width:100%;
      &>div{
        height:100%;
        line-height: .4rem;
        text-align: left;
      }
      .name{
        width:30%;
        float: left;
      }
      .mobile{
        width:40%;
        float: left;
      }
      .supple{
        width:30%;
        float: right;
        text-align: right;
        .hover{
          color:red;
        }
      }
    }
  }
}

.formpage{
  position: fixed;
  top:0;
  bottom: 0;
  width: 100%;
  .form{
    width:90%;
    margin:0 auto;
    margin-top:.2rem;
    .name,.phone,.number,.hotel_num{
      height: .35rem;
      line-height: .35rem;
      font-size:.13rem;
      overflow: hidden;
      margin-bottom:.1rem;
      border:1px solid #c0c0c0;
      .lable,.input{
        float: left;
        height:100%;
      }
      .lable{
        width:30%;
        margin-left:.1rem;
        line-height: .35rem;
      }
      .input{
        width:60%;
        text-align: center;
        background:transparent;

        .inputtext{
          height: 100%;
          width:100%;
          text-align: center;
          border:none;
          
        }
      }
    }
    .idcard{
      height:.6rem;
      // line-height: .6rem;
      font-size:.13rem;
      overflow: hidden;
      margin-bottom:.1rem;
      border:1px solid #c0c0c0;
      .lable,.input{
        float: left;
        height:100%;
      }
      .lable{
        width:30%;
        margin-left:.1rem;
        margin-top:.1rem;
        // line-height: .6rem;
      }
      .input{
        width:60%;
        text-align: center;
        background:transparent;

        .inputtext{
          height: 100%;
          width:100%;
          text-align: center;
          
        }
      }
    }
  }
  .submit{
    width:60%;
    margin: 0 auto;
    margin-top:1.5rem;

  }
}