.cardlistPage {
  box-sizing: border-box;
  top: 150%;
  left: 50%;
  position: absolute;
  .title {
    position: absolute;
    top: 3%;
    width: 100%;
    font-family: 'FZLTZHK--GBK1-0';
    line-height: 1;
    text-align: center;
    background: linear-gradient(30deg, #FCDDB2, #F7B765, #FCDEB4);
    color: transparent;
    -webkit-background-clip: text;
    > img {
      width: 40%;
    }
  }
  .list {
    box-sizing: border-box;
    position: absolute;
    top: 7.5%;
    bottom: 15.27%;
    width: 100%;
    background-color: rgba(125, 0, 0, .3);
    .listitem {
      position: absolute;
      line-height: 1.5;
      width: 100%;
      color: #f2cb9c;
      display: flex;
      .number {
        flex: 2;
        text-align: center;
      }
      .time {
        flex: 1;
        text-align: left;
      }
      .content {
        flex: 3;
      }
    }
  }
}